In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("cleaned_taxidata.csv")

In [3]:
df.head()

,vendorid,passenger_count,trip_distance,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,pickup_date,pickup_time,dropoff_date,dropoff_time,total_time
0,1.0,1.0,1.5,151,239,1.0,7.0,0.5,0.5,1.65,0.0,0.3,9.95,2019-01-01,00:46:40,2019-01-01,00:53:20,0 days 00:06:40
1,1.0,1.0,2.6,239,246,1.0,14.0,0.5,0.5,1.00,0.0,0.3,16.30,2019-01-01,00:59:47,2019-01-01,01:18:59,0 days 00:19:12
2,2.0,3.0,0.0,236,236,1.0,4.5,0.5,0.5,0.00,0.0,0.3,5.80,2018-12-21,13:48:30,2018-12-21,13:52:40,0 days 00:04:10
3,2.0,5.0,0.0,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,7.55,2018-11-28,15:52:25,2018-11-28,15:55:45,0 days 00:03:20
4,2.0,5.0,0.0,193,193,2.0,52.0,0.0,0.5,0.00,0.0,0.3,55.55,2018-11-28,15:56:57,2018-11-28,15:58:33,0 days 00:01:36

In [ ]:
null_or_empty = df.isnull() | (df == '')

rowwise_missing = null_or_empty.apply(lambda row: list(row.index[row]), axis=1)

rows_with_missing = rowwise_missing[rowwise_missing.apply(len) > 0]

print(rows_with_missing.head(10))

Series([], dtype: object)

In [5]:
null_or_empty_per_column = (df.isnull() | (df == '')).sum()

# Display nicely sorted
print(null_or_empty_per_column.sort_values(ascending=False))

vendorid                 0
passenger_count          0
dropoff_time             0
dropoff_date             0
pickup_time              0
pickup_date              0
total_amount             0
improvement_surcharge    0
tolls_amount             0
tip_amount               0
mta_tax                  0
extra                    0
fare_amount              0
payment_type             0
dolocationid             0
pulocationid             0
trip_distance            0
total_time               0
dtype: int64