In [7]:
import pandas as pd
import os

In [8]:
base_dir = os.getcwd()
file_path = os.path.join(base_dir, 'Data', 'taxidata.csv')

In [9]:
df = pd.read_csv(file_path)

In [10]:
df.head()

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1.0,2019-01-01T00:46:40.000,2019-01-01T00:53:20.000,1.0,1.5,1.0,N,151,239,1.0,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN,NaN
1,1.0,2019-01-01T00:59:47.000,2019-01-01T01:18:59.000,1.0,2.6,1.0,N,239,246,1.0,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN,NaN
2,2.0,2018-12-21T13:48:30.000,2018-12-21T13:52:40.000,3.0,0.0,1.0,N,236,236,1.0,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN,NaN
3,2.0,2018-11-28T15:52:25.000,2018-11-28T15:55:45.000,5.0,0.0,1.0,N,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN,NaN
4,2.0,2018-11-28T15:56:57.000,2018-11-28T15:58:33.000,5.0,0.0,2.0,N,193,193,2.0,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN,NaN

In [11]:
null_or_empty = df.isnull() | (df == '')

rowwise_missing = null_or_empty.apply(lambda row: list(row.index[row]), axis=1)

rows_with_missing = rowwise_missing[rowwise_missing.apply(len) > 0]

print(rows_with_missing.head(10))

0    [congestion_surcharge, airport_fee]
1    [congestion_surcharge, airport_fee]
2    [congestion_surcharge, airport_fee]
3    [congestion_surcharge, airport_fee]
4    [congestion_surcharge, airport_fee]
5    [congestion_surcharge, airport_fee]
6    [congestion_surcharge, airport_fee]
7    [congestion_surcharge, airport_fee]
8    [congestion_surcharge, airport_fee]
9    [congestion_surcharge, airport_fee]
dtype: object

In [12]:
null_or_empty_per_column = (df.isnull() | (df == '')).sum()

# Display nicely sorted
print(null_or_empty_per_column.sort_values(ascending=False))

airport_fee              74200
congestion_surcharge      4212
ratecodeid                3200
passenger_count           3200
store_and_fwd_flag        3200
vendorid                  1100
payment_type              1100
trip_distance                0
pulocationid                 0
dolocationid                 0
tpep_pickup_datetime         0
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
improvement_surcharge        0
total_amount                 0
tpep_dropoff_datetime        0
dtype: int64